body{
  background-color: rgb(53, 51, 51);
}
h3{
  
  font-size: 10rem;
  color: white;
  line-height: 1;
}

 h3 span{
  color: rgb(194, 41, 194);
}
.Create{
    position: absolute;bottom:50px; left:100px;
  padding: 60px;
  background-color:(255,255,255,0.25);
  backdrop-filter: blur(28px);
  border: 2px solid rgb(194, 41, 194);
  border-bottom: 1px solid (255,255,255,0.5);
  border-right: 1px solid (255,255,255,0.5) ;
  border-radius: 20px;
  height: 425px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 0px 25px 50px (0,0,0,0.1);
  }
  
  .Create h2{
    position: relative;
    width: 100%;
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: rgb(194, 41, 194);
    margin-top: -40px;
    margin-bottom: 0px;
  }
  .Create .inputBox{
    position:relative;
    margin-left:-40px;  
  
  }
  .Create .signup{
    position:relative;
    margin-left:-40px;  
  right: -20px;
  }
  .Create .inputBox input{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color:#656161;
    border: solid gray 0px;
    margin-top: 30px;
  }
  .Create .signup input{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #656161;
    border: solid gray 0px;
    margin-top: 30px;
  }
  .Create .inputBox::placeholder{
    color: azure;
  }
  .Create .signup #btn{
    position: relative;
    border-radius: 5rem;
    outline: none;
  background: #656161;
  color: #ffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.55;
  }
  .Create .signup #btn:hover{
    background: #e9eeec;
    color: black;
  }
  .image{
    position: absolute;bottom: 0px; left: 800px;
    flex: 1 1 40rem;
  }
   .image img{
    width: 225%;
  }
  .Create .group{
    display: flex;
    justify-content: space-between;
  }
  .Create .group h4{
    color: aliceblue;
  }
 
  .Create .group a{
    font-size: 1.25em;
    margin-top: 18px;
    color:  rgb(194, 41, 194);
    font-weight: 500;
    text-decoration: none;
  }
 
 
  
  